### Pandas 기초

### 가상환경 설치

Virtualenv 모듈 설치

```
> !pip install virtualenv
```

In [2]:
!pip install virtualenv

Requirement already satisfied: virtualenv in c:\dev\langs\python311\lib\site-packages (20.17.1)
Requirement already satisfied: distlib<1,>=0.3.6 in c:\dev\langs\python311\lib\site-packages (from virtualenv) (0.3.6)
Requirement already satisfied: filelock<4,>=3.4.1 in c:\dev\langs\python311\lib\site-packages (from virtualenv) (3.9.0)
Requirement already satisfied: platformdirs<3,>=2.4 in c:\dev\langs\python311\lib\site-packages (from virtualenv) (2.6.2)

DEPRECATION: Loading egg at c:\dev\langs\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

#### 가상환경 설정

```
> virtualenv day_env
```

- 주피터 노트북 커널을 변경 - day_env(Python 3.11.2) 로 변경
- ipykernel 설치 (아나콘다, VSCode에서 주피터 노트북 사용시 필수)

#### 가상환경 패키지(pip) 확인
```
!pip list
```

#### 판다스 설치

```
!pip install pandas
```

#### 판다스 확인
```
!pip show pandas
```

!python.exe -m pip install --upgrade pip

In [3]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\source\iot-bigdata-2023\day_env\lib\site-packages (23.0)
Collecting pip
  Using cached pip-23.2.1-py3-none-any.whl (2.1 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0
    Uninstalling pip-23.0:
      Successfully uninstalled pip-23.0
Successfully installed pip-23.2.1

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\source\iot-bigdata-2023\day_env\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\source\iot-bigdata-2023\day_env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\source\iot-bigdata-2023\day_env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\source\iot-bigdata-2023\day_env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\source\iot-bigdata-2023\day_env\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\source\iot-bigdata-2023\day_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
!pip show pandas

Name: pandas
Version: 2.0.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page:
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: c:\Source\IoT-bigdata-2023\day_env\Lib\site-packages
Requires: numpy, numpy, python-dateutil, pytz, tzdata
Required-by:

In [6]:
!pip show numpy

Name: numpy
Version: 1.25.2
Summary: Fundamental package for array computing in Python
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: BSD-3-Clause
Location: c:\Source\IoT-bigdata-2023\day_env\Lib\site-packages
Requires:
Required-by: pandas

In [7]:
!pip list

Package           Version
----------------- -------
asttokens         2.2.1
backcall          0.2.0
colorama          0.4.6
comm              0.1.4
debugpy           1.6.7
decorator         5.1.1
executing         1.2.0
ipykernel         6.25.1
ipython           8.14.0
jedi              0.19.0
jupyter_client    8.3.0
jupyter_core      5.3.1
matplotlib-inline 0.1.6
nest-asyncio      1.5.7
numpy             1.25.2
packaging         23.1
pandas            2.0.3
parso             0.8.3
pickleshare       0.7.5
pip               23.2.1
platformdirs      3.10.0
prompt-toolkit    3.0.39
psutil            5.9.5
pure-eval         0.2.2
Pygments          2.16.1
python-dateutil   2.8.2
pytz              2023.3
pywin32           306
pyzmq             25.1.0
setuptools        67.1.0
six               1.16.0
stack-data        0.6.2
tornado           6.3.2
traitlets         5.9.0
tzdata            2023.3
wcwidth           0.2.6
wheel             0.38.4

#### 판다스 기초

##### 개요

엑셀과 거의 동일한 테이블 형태로 데이터를 핸들링할 수 있는 파이썬 모듈

데이터 분석을 위한 추상 자료구조(DataFrame)를 제공하는 데이터 분석도구

##### 기본기능
- 엑셀/CSV/Json 등 데이터 파일에서 데이터 읽어오기 -> 파이썬 메모리 상 로드
- 데이터 처리
- 엑셀/CSV/Json 등 데이터 파일에 저장

##### Pandas 용어
- Series, DataFrame
- Index, Columns, Values 등등

#### 판다스 학습!

시리즈(Series) : 판다스에서 1차원 배열과 똑같은 자료형 (데이터 타입)

<img src="https://velog.velcdn.com/images%2Fgjtjsdn1%2Fpost%2F41aab35d-d5bc-4a3f-b0fa-1c8770bf2eb9%2Fimage.png" width="400">

##### 판다스 모듈 import
```python
import pandas as pd
```

In [9]:
import pandas as pd

##### 시리즈 생성

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F995809335BFBCC922B" width="500">

In [70]:
grade = pd.Series(data=['동훈이', 90, 10, 20, 30], index=['이름', '국어', '영어', '수학', '미술'], name='기말고사점수')
grade

이름    동훈이
국어     90
영어     10
수학     20
미술     30
Name: 기말고사점수, dtype: object

In [21]:
grade.values

array(['홍길동', 90, 10, 20, 30], dtype=object)

In [22]:
grade.index

Index(['이름', '국어', '영어', '수학', '미술'], dtype='object')

In [23]:
grade.name

'기말고사점수'

##### 판다스 시리즈 타입으로 전환

- 리스트 -> pd.Series(data=[])
- 딕셔너리 {'key' : 'value'} -> pd.Series(data={})

In [25]:
my_data = {'이름' : '이동훈', '국어' : '100', '수학' : '100', '영어':'100'}
type(my_data)

dict

In [28]:
# 리스트 형식보다 딕셔너리로 데이터 사용이 판다스 시리즈 생성에 편리
grade2 = pd.Series(data = my_data, name='내 데이터')
grade2

이름    이동훈
국어    100
수학    100
영어    100
Name: 내 데이터, dtype: object

In [30]:
type(grade2)

pandas.core.series.Series

##### 중요!

None(Null), NaN -> 결측치, 결측치가 있으면 데이터 분석에 정합성 부정확

In [51]:
# 데이터 분석에서 조심해야될 것 => None
grade3 = pd.Series(data=['동훈', None, 10, 20,None], index=['이름', '국어','영어','수학',''])
grade3

이름      동훈
국어    None
영어      10
수학      20
      None
dtype: object

##### 재색인

결측치가 잇거나 인덱스가 잘못되었을 때 다시 정립하는 작업

In [52]:
grade4 = grade3.reindex(index=['이름','국어','영어','미술',''])
grade4

이름      동훈
국어    None
영어      10
미술     NaN
      None
dtype: object

In [ ]:
##### 결측치 없애기
- reindex() 메서드 fill_value 속성 -> None, NaN 동시 처리 안됨
- 만들어진 시리즈 fillna(0) - 동시 처리 됨

##### inplace
- 지금 내가 처리하는 기능으로 값을 완전 대체(commit 동일)

In [58]:
grade5 = grade3.reindex(index=['이름','국어','영어','수학','미술'], fill_value=0)
grade5

이름      동훈
국어    None
영어      10
수학      20
미술       0
dtype: object

In [59]:
grade5.fillna(0, inplace=True)

In [61]:
grade5

이름    동훈
국어     0
영어    10
수학    20
미술     0
dtype: object

##### 이름변경

인덱스의 이름 변경

In [65]:
grade3.rename({'이름':'Name', '국어':'Korean'}, inplace=True)
grade3

Name        동훈
Korean    None
영어          10
수학          20
          None
dtype: object

##### 판다스 시리즈 요소 제어

파이썬 리스트 요소 접근 방법과 유사

In [72]:
grade[0]

'동훈이'

In [74]:
grade['이름']

'동훈이'

In [76]:
print(grade[2])
print(grade['영어'])

10
10

In [79]:
# 로케이션 속성, 현재 지정된 인덱스 명으로 찾음. 숫자는 안됨
grade.loc['영어']

10

In [ ]:
##### 시리즈에서 인덱스 변경

변경된 데이터만 임시 출력

In [82]:
grade[['이름','국어']]

이름    동훈이
국어     90
Name: 기말고사점수, dtype: object

In [83]:
grade.isnull()

이름    False
국어    False
영어    False
수학    False
미술    False
Name: 기말고사점수, dtype: bool

In [87]:
grade.notnull()

이름    True
국어    True
영어    True
수학    True
미술    True
Name: 기말고사점수, dtype: bool

In [93]:
grade3['Korean'] = 40
grade3

Name        동훈
Korean      40
영어          10
수학          20
          None
dtype: object

In [100]:
import numpy as np

grade3['수학'] = np.NaN

In [102]:
grade3

Name        동훈
Korean      40
영어          10
수학         NaN
          None
dtype: object

In [105]:
grade3[['Korean', '수학']] = (30, 90)
grade3

Name        동훈
Korean      30
영어          10
수학          90
          None
dtype: object

In [106]:
##### 시리즈 삭제

In [108]:
grade7=grade3
grade3

Name        동훈
Korean      30
영어          10
수학          90
          None
dtype: object

In [109]:
del grade7['Korean']

In [110]:
grade7

Name      동훈
영어        10
수학        90
        None
dtype: object

In [ ]:
#inplace True로 하면 완전히 대체되서 지워짐
grade7.drop('수학', inplace=True)

In [114]:
grade7

Name      동훈
영어        10
        None
dtype: object

In [115]:
del grade7
grade7

NameError: name 'grade7' is not defined

In [120]:
import pandas as pd

In [ ]:
df1 = pd.